# Особенности проекта
 - это веб приложение, которое будет открываться только на мобилке
 - при использовании мсп сервера фигмы ты будешь видеть дизайны мобильной версии с системными элементами типа времени, заряда батареи и ли еще чего-то, не верстай эти элементы
 